.hero {
    height: 100vh;
    background: url("/images/home-hero.png");
}

.hero-parallax{
  height: 50vh;
  width: 100%;

  background: url("/images/home4-1200.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.sfumatura {
  height: 100%;
  width: 100%;
  background:
    linear-gradient(180deg, #0E1214 0.03%, rgba(14, 18, 20, 0) 46.63%),
    linear-gradient(180deg, rgba(14, 18, 20, 0) 22.42%, #0E1214 100%);
}

@media (max-width: 576px) {
    .hero {
        height: 70vh;
        background: url("/images/home-hero-mobile.png");
    }

    .hero-parallax {
        background-image: url("/images/home4-400.png");
    }
}

@media (min-width: 576px) {

    .hero-parallax {
        background-image: url("/images/home4-768.png");
    }
}

@media (min-width: 992px) {

    .hero-parallax {
        background-image: url("/images/home4-992.png");
    }
}