ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: "Antic Didone", serif;
}

a:hover{
  text-decoration: underline;
}

h3 {
  font-family: "aktiv-grotesk", sans-serif;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 70px;
  padding-top: 10px;
}

.navbar a {
  color: var(--secondary-color);
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
}

.menu-circle {
  width: 35px;
  height: 35px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  transition: background-color 0.3s;
  cursor: pointer;
  z-index: 3;
}

.menu-circle:hover {
  background-color: var(--secondary-color);
}

/* Showcase */
.showcase {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 100vh;
}

.showcase-content {
  font-family: 'Albra', sans-serif;
  position: relative;
  top: 50%;
  left: 55%;
  z-index: 3;
}

.main-title span {
  display: block;
  font-size: 74px;
}

.main-title .highlight {
  font-family: "Albra Italic";
  font-style: italic;
  margin-left: 15%;
  margin-top: -20px;
}

.logo-container {
  z-index: 3;
}

.logo-container a {
  text-decoration: none;
  font-family: sans-serif;
}

#video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

#video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, var(--primary-color) 0%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.1) 100%);
}

.showcase-mobile {
  position: relative;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 100vh;
  display: none;
}


/* Footer */
.footer {
  height: 150px;
  background-color: var(--primary-color);
  font-family: 'Albra', sans-serif;
  font-size: 14px;
  padding-bottom: 25px;
}

.footer-mobile {
  display: none;
  height: 220px;
  padding-bottom: 25px;
  font-family: 'Albra', sans-serif;
  font-size: 12px;
}

.footer p, .footer-mobile p {
  margin: 0;
}

.footer a, .footer-mobile a {
  text-decoration: underline;
  font-family: "Albra italic";
  font-style: italic;
  transition: opacity 0.3s;
}

.footer a:hover, .footer-mobile a:hover {
  text-decoration: underline;
  font-style: italic;
  opacity: 0.8;
}

.info-recycled {
  max-width: 120px;
  line-height: normal;
}

.social-icon a {
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icon .gmail {
  margin-left: 15px;
}

.social-icon .instagram:hover {
  color: #E1306C;
}


/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}
@media (max-width: 1000px){

  .showcase-form{
    width: 340px;
  }
}


/* Tablets and under */
@media (max-width: 768px) {

  .showcase {
    display: none;
  }

  .showcase-mobile {
    display: block;
  }

  #video-overlay {
    background: linear-gradient(to top, var(--primary-color) 0%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.1) 100%);
  }

  .menu-circle {
    width: 30px;
    height: 30px;
  }

  .showcase-content {
    top: 40%;
    left: 50%;
  }

  .main-title span {
    font-size: 30px;
  }

  .main-title .highlight {
    margin-left: 30%;
  }
}


/* Mobile */
@media (max-width: 500px) {

  .logo-container h3 {
    font-size: 20px;
  }

  .footer {
    display: none;
  }

  .footer-mobile {
    display: block;
  }

  .footer-mobile .info-recycled {
    margin-bottom: 20px;
  }

}
