.hero-parallax{
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: #0E1214;
}

.sfumatura {
  height: 100%;
  width: 100%;
  background:
    linear-gradient(180deg, #0E1214 0.03%, rgba(14, 18, 20, 0) 46.63%),
    linear-gradient(180deg, rgba(14, 18, 20, 0) 22.42%, #0E1214 100%);
}
