body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover{
  text-decoration: underline;
}

.partner-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Header */
.header {
  flex: 0 1 auto;
}

.logo-container a {
  text-decoration: none;
  font-family: sans-serif;
  color: var(--primary-color);
}

.menu-circle {
  width: 35px;
  height: 35px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  transition: background-color 0.3s;
  cursor: pointer;
  z-index: 3;
}

.menu-circle:hover {
  background-color: var(--primary-color);
}


/* adv */
.adv-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
}

.adv-container hr {
  width: 100%;
  border: 1px solid var(--primary-color);
  margin: 15px 0;
}

.adv-container .adv-text {
  animation: marquee 10s linear infinite;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.adv-container .error-code {
  margin-top: 20px;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* Footer */
.footer {
  flex: 0 1 auto;
  height: 150px;
  font-family: 'Albra', sans-serif;
  font-size: 14px;
  padding-bottom: 25px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.footer-mobile {
  display: none;
  height: 220px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding-bottom: 25px;
  font-size: 12px;
  font-family: 'Albra', sans-serif;
}

.footer p, .footer-mobile p {
  margin: 0;
}

.footer a, .footer-mobile a {
  text-decoration: underline;
  font-family: "Albra italic";
  font-style: italic;
  transition: opacity 0.3s;
}

.footer a:hover, .footer-mobile a:hover {
  text-decoration: underline;
  font-style: italic;
  opacity: 0.8;
}

.info-recycled {
  max-width: 120px;
  line-height: normal;
}

.social-icon a{
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icon .gmail {
  margin-left: 15px;
}

.social-icon .instagram:hover {
  color: #E1306C;
}

/* Tablets and under */
@media (max-width: 768px) {

  .menu-circle {
    width: 30px;
    height: 30px;
  }
 
}

/* Mobile */
@media (max-width: 500px) {

  .logo-container h3 {
    font-size: 20px;
  }

  .footer {
    display: none;
  }

  .footer-mobile {
    display: block;
  }

  .footer-mobile .info-recycled {
    margin-bottom: 20px;
  }

}

