@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
@import url("https://use.typekit.net/yld5etd.css");

:root{
  --bs-primary: #A79DCD;
  --bs-primary-rgb: 167, 157, 205;
  --bs-dark: #0E1214;
  --bs-dark-rgb: 14, 18, 20;
  --bs-light: #F4F4F4;
  --bs-light-rgb: 244, 244, 244;

  --bs-body-bg: var(--bs-dark);
  --bs-body-bg-rgb: var(--bs-dark-rgb);
  --bs-body-color: var(--bs-light);
  --bs-body-color-rgb: var(--bs-light-rgb);

  --bs-font-sans-serif: "aktiv-grotesk", sans-serif;
  --bs-body-font-family: "aktiv-grotesk-thin", sans-serif;

  --bs-body-font-size: 1.125rem; /* 18px */
  --bs-body-line-height: 1.3; /* ~24 */
  --bs-body-font-weight: 200;
}

html, body { 
  margin: 0; 
  padding: 0; 
}

* { 
  box-sizing: border-box; 
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: "Antic Didone", serif;
  font-weight: 400;
  line-height: 1.2;
}

h1, .h1{ font-size: 3.5rem; }
h2, .h2{ font-size: 3rem; }
h3, .h3{ font-size: 1.5rem; }
h4, .h4{ font-size: 1rem; }
small, .small{
  font-size: 0.7778em;   /* 14/18 relative to body */
  line-height: 1.2857;   /* 18/14 */
}

.navbar{
  --bs-navbar-color: var(--bs-body-color);
  --bs-navbar-hover-color: rgba(var(--bs-body-color-rgb), .6);
  --bs-navbar-active-color: var(--bs-primary);
  --bs-navbar-brand-color: var(--bs-body-color);
}

.navbar .navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
}

.btn-link{
  --bs-btn-color: var(--bs-primary);
  --bs-btn-hover-color: rgba(var(--bs-primary-rgb), .6);
  --bs-btn-active-color: var(--bs-primary);
  --bs-link-color-rgb: var(--bs-primary-rgb);
  --bs-link-hover-color-rgb: var(--bs-primary-rgb);
}

.gap-6{
  gap: 8rem !important;
}

.form-control:focus {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 .25rem rgba(var(--bs-primary-rgb), .25);
}

.form-control::placeholder {
  color: var(--bs-body-color);
  opacity: .5;
}

@media (max-width: 576px) {
  .offcanvas-lg {
    width: 100vw;
  }
}

@media (min-width: 992px) {
  .offcanvas-lg {
    width: 100vw;
  }
}

